<!DOCTYPE html>
<html>
  <head>
    <title>Breadcrumb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= breadcrumbs separator: " &rsaquo; " %> 
    <%# 上行により、breadcrumbs.rbファイルで実装したパンくずが画面に表示 separator: " &rsaquo;”は、パンくず間の区切りである「>」
    <%= yield %>
  </body>
</html>
